# .gitignore
vagrant_provision*.log
.vagrant
24.05/slurm
24.05/installfiles/nohup.out
24.05/installfiles/tmpetc/job_submit.lua
24.05/installfiles/tmpetc/burst_buffer.lua
24.05/installfiles/tmpetc/cli_filter.lua
24.05/installfiles/tmpetc/jwt_hs256.key
